@import './Vars.scss';
//@ Container mixin
@mixin container {
    // margin: var(--h-header) var(--s-container);
}

//@ Color schemes mixin

//@ Dark Theme mixin
@mixin dark-color-scheme {
    :root {
        --body-bg: #373737;
        --body-bg-hov: #414141;
        --body-color: #fff;
        --link-color: #5656dd;
    }
}
//@ Light Theme mixin
@mixin light-color-scheme {
    :root {
        --beige-color: #CDB79E;
        --grey-color: #555555;
        --white-color: #FFFFFF;
    }
}

@mixin button($padding-top-bottom, $padding-left-right, $background-color, $color) {
    padding: $padding-top-bottom $padding-left-right;
    font-size: 40px;
    font-weight: 700;
    color: $color;
    border: 4px solid $color;
    background-color: $background-color;
}

@mixin customAnimatedButton($background-color, $box-shadow, $color) {
    position: relative;
    display: inline-block;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    
    span:last-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: $background-color;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    span:first-child {
      position: relative;
      z-index: 1;
    }
    
    &:hover {
      box-shadow: 0 0 0 5px $box-shadow;
      color: $color;
      border: 4px solid $color;
    }
    
    &:active {
      transform: scale(0.95);
    }
    
    &:hover span:last-child {
      width: 100%;
      height: 500px;
      opacity: 1;
    }
  }