@import '../../../../App/Styles/Vars.scss';

.explanationSection {

    &__wrapper {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper-block {
        width: 800px;
        height: 400px;
        background-color: gray;
    }

    &__wrapper-text {
        background-color: $beige-color;
        width: 800px;
        height: 400px;
    }
}

