@import '../../../App/Styles/Vars.scss';

.header {
    padding-top: 25px;
    min-height: 50px;
    background-color: $white-color;
    z-index: 10;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg {
            width: 90%;
            height: 90%;
        }
    }
}

.pos-sticky {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 768px) {
    .header { 
        padding-bottom: 15px;
    }

    .header__icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}


@media screen and (max-width: 576px) {
    .header__title {
        text-align: center;
        width: max-content;
    }
}