@import '../../../App/Styles/Vars.scss';

.compoundCard {
    padding: 25px;
    width: 350px;

    &__title {
        margin-top: 10px;
        color: $grey-color;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    &__birthday {
        color: $grey-color;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }

    &__description {
        text-align: center;
        margin-top: 10px;
        padding: 10px 0 10px 0;
        border-top: 2px solid $grey-color;
        border-bottom: 2px solid $grey-color;
    }
}


@media screen and (max-width: 1450px) {
    .compoundCard {
        width: 250px;
        &__img {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &__title {
            font-size: 20px;
        }
    
        &__birthday {
            font-size: 20px;
        }
    
        &__description {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 768px) { 
    .compoundCard {
        &__title {
            font-size: 18px;
        }
    
        &__birthday {
            font-size: 18px;
        }
    
        &__description {
            font-size: 14px;
        }
    }
}