@import '../../../../App/Styles/Vars.scss';

.compoundSection {
    margin-top: 60px;
    height: 100vh;
    &__wrapper {
    }

    &__title {
        width: max-content;
        margin: 0 auto;
        text-align: center;

    }

    &__list {
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
    }

    &__card {
        // width: 350px;
        // height: 528px;
    }

    &__card-title {
        margin-top: 100px;
        color: $grey-color;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
    }

    &__card-btn {
        display: block; 
        margin: 30px auto 0px auto;
        padding: 10px 10px;
        background-color: $beige-color;
        border: none;
        color: $white-color;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }
}
