@import '../../../../App/Styles/Vars.scss';
@import '../../../../App/Styles/Mixins.scss';

.familyTree {
    margin-top: 30px;
    &__wrapper {
        padding-top: 30px;
    }

    &__title {
        margin: 30px auto 0 auto;
        width: max-content;
    }

    &__subtitle {
        margin-top: 10px;
        text-align: center;
    }

    &__flex {
        margin-top: 50px;
        display: flex;
        justify-content:space-between;
    }

    &__flex-img {
        padding: 20px;
        border-radius: 40px;
    }

    &__flex-manual {
        border-radius: 40px;
        padding: 50px 30px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }

    &__manual-row {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__manual-icon {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $beige-color;
        border-radius: 50%;
        svg {
            width: 50px;
            height: 50px;
            color: $white-color;
        }
    }

    &__manual-description {
        max-width: 600px;
        color: $grey-color;
        font-size: 20px;
        font-weight: 500;
    }
    &__manual-btn {
        @include button(30px, 90px, $beige-color, $white-color);
        @include customAnimatedButton($white-color, $beige-color-bg, $beige-color);
        border: none;
    }
}


@media screen and (max-width: 1750px) { 
    .familyTree {
        &__flex-img {
            width: 500px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        &__manual-btn {
            
        }
    }   
}

@media screen and (max-width: 1450px) {
    .familyTree {
        &__flex {
            align-items: center;
            flex-direction: column;
            gap: 40px;
        }
        &__flex-img {
            width: 700px;
        }
    } 
}

@media screen and (max-width: 992px) { 
    .familyTree {
        
        &__flex-img {
            width: 500px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__manual-description {
            max-width: 400px;
        }
        &__manual-btn {
            padding: 15px 45px;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }   
}



@media screen and (max-width: 768px) { 
    .familyTree {
        &__manual-row {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        &__manual-description {
            text-align: center;
            max-width: 100%;
        }
    }
}


@media screen and (max-width: 576px) {
    .familyTree {
        &__flex-img {
            width: 100%;
            padding: 10px;
        }

        &__manual-icon {
            height: 50px;
            width: 50px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        &__manual-description {
            font-size: 16px;
        }
    }
}